@font-face {
  font-family: Nivea;
  src: url(asset/font/Nivea-Regular.otf);
}
body {
  background-image: url("asset/images/nivea_hijab_newsletter.jpg");
  font-size: 10px;
}

.container {
  margin: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: Nivea;
  color: rgb(36, 36, 143);
}
.container button {
  margin-top: 20px;
}
.center {
  text-align: center;
}

.container-3 img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.container-3 {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.container h2 {
  color: rgb(36, 36, 143);
  padding: 10px;
}
.container-2 {
  padding: 40px;
}

.button {
  padding: 15px;
  background-color: rgb(36, 36, 143);
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 10px;
  font-family: Nivea;
}

.button:hover {
  padding: 15px;
  background-color: rgb(19, 19, 92);
  color: white;
  border-radius: 20px;
  border: none;
}
hr {
  border: rgb(1, 23, 106);
  background-color: rgb(1, 23, 106);
  height: 0.1em;
}
.container-2 {
  margin: 20px;
  align-content: center;
  justify-content: center;
}
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {
    font-size: 17px;
  }
  .button {
    font-size: 17px;
  }

  .container-3 img {
    width: 70px;
    height: 70px;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
